<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <databases>
         <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
            <Engines.HistoryEngine.Storage>
               <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
                  <param connectionStringName="$(id)" />
                  <EntryLifeTime>30.00:00:00</EntryLifeTime>
               </obj>
            </Engines.HistoryEngine.Storage>
            <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
         </database>
      </databases>
      <search>
         <configuration>
            <indexes>
               <index id="simple" type="Sitecore.Search.Index, Sitecore.Kernel">
                  <param desc="name">$(id)</param>
                  <param desc="folder">$(id)</param>
                  <Analyzer ref="search/analyzer" />
                  <locations hint="list:AddCrawler">
                     <master type="scSearchContrib.Crawler.Crawlers.AdvancedDatabaseCrawler,scSearchContrib.Crawler">
                        <Database>master</Database>
                        <Root>/sitecore/content/Demo</Root>
                        <IndexAllFields>true</IndexAllFields>

                        <!--<include hint="list:IncludeTemplate">
                         <template1>{GUID}</template1>
                        </include>-->

                        <!-- <include hint="list:ExcludeTemplate">
                           <template1>{GUID}</template1>
                        </include>-->

                        <!--<include hint="list:IncludeField">
                           <fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
                        </include>-->

                        <!--<include hint="list:ExcludeField">
                           -->
                        <!-- __revision field -->
                        <!--
                           <fieldId1>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId1>
                           -->
                        <!-- __context menu field -->
                        <!--
                           <fieldId2>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</fieldId2>
                           -->
                        <!-- __security field -->
                        <!--
                           <fieldId3>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</fieldId3>
                           -->
                        <!-- __renderings field -->
                        <!--
                           <fieldId4>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</fieldId4>
                        </include>-->

                        <fieldCrawlers hint="raw:AddFieldCrawlers">
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droplink" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droptree" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Datetime" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Date" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.NumberFieldCrawler,scSearchContrib.Crawler" fieldType="Number" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="Multilist" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="Treelist" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="TreelistEx" />
                        </fieldCrawlers>

                        <!-- <dynamicFields hint="raw:AddDynamicFields"> -->
                        <!-- example of a dynamic field definition -->
                        <!-- <dynamicField type="scSearchContrib.Crawler.DynamicFields.BaseDynamicField,scSearchContrib.Crawler" name="_dynamicfieldexample" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                         </dynamicFields>-->

                        <!-- If a field type is not defined, defaults of storageType="NO", indexType="UN_TOKENIZED" vectorType="NO" boost="1f" are applied-->
                        <fieldTypes hint="raw:AddFieldTypes">
                           <!-- Text fields need to be tokenized -->
                           <fieldType name="single-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="multi-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="word document" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="html" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="rich text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="memo" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <!-- Multilist based fields need to be tokenized to support search of multiple values -->
                           <!-- Stored for testing multiple value output -->
                           <fieldType name="multilist" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelist" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelistex" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="checklist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <!-- Legacy tree list field from ver. 5.3 -->
                           <fieldType name="tree list" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                        </fieldTypes>
                     </master>
                  </locations>
               </index>
               <index id="demo" type="Sitecore.Search.Index, Sitecore.Kernel">
                  <param desc="name">$(id)</param>
                  <param desc="folder">$(id)</param>
                  <Analyzer ref="search/analyzer" />
                  <locations hint="list:AddCrawler">
                     <master type="scSearchContrib.Crawler.Crawlers.AdvancedDatabaseCrawler,scSearchContrib.Crawler">
                        <Database>master</Database>
                        <Root>/sitecore/content</Root>
                        <IndexAllFields>true</IndexAllFields>

                        <!--<include hint="list:IncludeTemplate">
                         <template1>{GUID}</template1>
                        </include>-->

                        <!-- <include hint="list:ExcludeTemplate">
                           <template1>{GUID}</template1>
                        </include>-->

                        <!--<include hint="list:IncludeField">
                           <fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
                        </include>-->

                        <!--<include hint="list:ExcludeField">
                           -->
                        <!-- __revision field -->
                        <!--
                           <fieldId1>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId1>
                           -->
                        <!-- __context menu field -->
                        <!--
                           <fieldId2>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</fieldId2>
                           -->
                        <!-- __security field -->
                        <!--
                           <fieldId3>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</fieldId3>
                           -->
                        <!-- __renderings field -->
                        <!--
                           <fieldId4>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</fieldId4>
                        </include>-->

                        <fieldCrawlers hint="raw:AddFieldCrawlers">
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droplink" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droptree" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Datetime" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Date" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.NumberFieldCrawler,scSearchContrib.Crawler" fieldType="Number" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="Multilist" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="Treelist" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="TreelistEx" />
                        </fieldCrawlers>

                        <!-- <dynamicFields hint="raw:AddDynamicFields"> -->
                        <!-- example of a dynamic field definition -->
                        <!-- <dynamicField type="scSearchContrib.Crawler.DynamicFields.BaseDynamicField,scSearchContrib.Crawler" name="_dynamicfieldexample" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                         </dynamicFields>-->

                        <!-- If a field type is not defined, defaults of storageType="NO", indexType="UN_TOKENIZED" vectorType="NO" boost="1f" are applied-->
                        <fieldTypes hint="raw:AddFieldTypes">
                           <!-- Text fields need to be tokenized -->
                           <fieldType name="single-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="multi-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="word document" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="html" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="rich text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="memo" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <!-- Multilist based fields need to be tokenized to support search of multiple values -->
                           <fieldType name="multilist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelistex" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="checklist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <!-- Legacy tree list field from ver. 5.3 -->
                           <fieldType name="tree list" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                        </fieldTypes>
                     </master>
                     <web type="scSearchContrib.Crawler.Crawlers.AdvancedDatabaseCrawler,scSearchContrib.Crawler">
                        <Database>web</Database>
                        <Root>/sitecore/content</Root>
                        <IndexAllFields>true</IndexAllFields>

                        <!--<include hint="list:IncludeTemplate">
                         <template1>{GUID}</template1>
                        </include>-->

                        <!-- <include hint="list:ExcludeTemplate">
                           <template1>{GUID}</template1>
                        </include>-->

                        <!--<include hint="list:IncludeField">
                           <fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
                        </include>-->

                        <!--<include hint="list:ExcludeField">
                           -->
                        <!-- __revision field -->
                        <!--
                           <fieldId1>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId1>
                           -->
                        <!-- __context menu field -->
                        <!--
                           <fieldId2>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</fieldId2>
                           -->
                        <!-- __security field -->
                        <!--
                           <fieldId3>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</fieldId3>
                           -->
                        <!-- __renderings field -->
                        <!--
                           <fieldId4>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</fieldId4>
                        </include>-->

                        <fieldCrawlers hint="raw:AddFieldCrawlers">
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droplink" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.LookupFieldCrawler,scSearchContrib.Crawler" fieldType="Droptree" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Datetime" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.DateFieldCrawler,scSearchContrib.Crawler" fieldType="Date" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.NumberFieldCrawler,scSearchContrib.Crawler" fieldType="Number" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="Multilist" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="Treelist" />
                           <fieldCrawler type="scSearchContrib.Crawler.FieldCrawlers.MultilistFieldCrawler,scSearchContrib.Crawler" fieldType="TreelistEx" />
                        </fieldCrawlers>

                        <!-- <dynamicFields hint="raw:AddDynamicFields"> -->
                        <!-- example of a dynamic field definition -->
                        <!-- <dynamicField type="scSearchContrib.Crawler.DynamicFields.BaseDynamicField,scSearchContrib.Crawler" name="_dynamicfieldexample" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                         </dynamicFields>-->

                        <!-- If a field type is not defined, defaults of storageType="NO", indexType="UN_TOKENIZED" vectorType="NO" boost="1f" are applied-->
                        <fieldTypes hint="raw:AddFieldTypes">
                           <!-- Text fields need to be tokenized -->
                           <fieldType name="single-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="multi-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="word document" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="html" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="rich text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="memo" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <!-- Multilist based fields need to be tokenized to support search of multiple values -->
                           <fieldType name="multilist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelistex" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="checklist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <!-- Legacy tree list field from ver. 5.3 -->
                           <fieldType name="tree list" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                        </fieldTypes>
                     </web>
                  </locations>
               </index>
            </indexes>
         </configuration>
      </search>
   </sitecore>
</configuration>
